.mainContainer{
	font-family: Arial, sans-serif;
	margin: 20px;
	  display: flex;
  flex-direction: column;
  align-items: center;
 }

h2, h1 {
	color: green;
 }

 .error {
	color: red;
	background: lightgrey;
	font-size: 20px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
 }

 .success {
	color: green;
	background: lightgrey;
	font-size: 20px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
 }

 .btn{
	text-transform: uppercase;
	background-color: green;
	color: white;	
	border: none;
	border-radius: 5px;
	padding: 8px 16px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: 0.3s;
 }

 .btn:hover{
	cursor: pointer;
	background-color: rgb(3, 179, 3);
 }

 .addPesonBtn{
	width: 80px;
 }

 .delPersonBtn{
	background-color: rgb(196, 129, 3);
 }

 .delPersonBtn:hover{
	cursor: pointer;
	background-color: orange;
 }

.personsList{
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 400px;
}

 .personItem{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
  border-bottom: 1px solid #ccc;
 }

 .personInfo{
	gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 }

 .personName{
	font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
  color: #333;
 }

 .addPersonForm{
	width: 400px;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f9f9f9;
 }
 .addPersonForm .formField{
	display: flex;
  align-items: center;
  margin-bottom: 10px;
 }

 .addPersonForm .formField label {
	font-weight: 500;
	color: #333;
	width: 100px;
 }

 .addPersonForm .containerBtn{
	display: flex;
	justify-content: flex-end;
 }

 .formField input {
	flex: 1;
	margin-left: 10px;      
	padding: 6px 8px;       
	border: 1px solid #ccc; 
	border-radius: 4px;    
	font-size: 14px;
 }

 .formField input:focus {
	border-color: green;
	box-shadow: 0 0 4px rgba(7, 133, 7, 0.5);
	outline: none;
 }

 .filterInput{
	display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
  font-size: 16px;
 }


 /* Підпис перед полем вводу */
.filterInput label {
	font-weight: 500;
	color: #333;
 }
 
 /* Поле вводу */
 .filterInput input {
	padding: 6px 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
	width: 200px;
	transition: border-color 0.3s, box-shadow 0.3s;
 }
 
 /* Стиль при фокусі */
 .filterInput input:focus {
	border-color: green;
	box-shadow: 0 0 4px rgba(7, 133, 7, 0.5);
	outline: none;
 }
 